@model TanTienStore.Models.KhachHang

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa</h1>

<h3>Bạn có chắc muốn xóa thông tin khách hàng này?</h3>
<div>
    <h4>Khách Hàng</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Họ
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ho)
        </dd>
        <dt class="col-sm-2">
            Tên Đệm
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenDem)
        </dd>
        <dt class="col-sm-2">
            Tên
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt class="col-sm-2">
            Giới Tính
        </dt>
        <dd class="col-sm-10">
            @if (Model.GioiTinh)
            {
                <text>Nam</text>
            }
            else
            {
                <text>Nữ</text>
            }
        </dd>
        <dt class="col-sm-2">
            Địa Chỉ
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class="col-sm-2">
            Số Diện Thoại
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SDT)
        </dd>
        <dt class="col-sm-2">
            Điểm Tích Lũy
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiemTichLuy)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaKH" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay Lại</a>
    </form>
</div>
